* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.comment-main-container {
  margin-top: 4rem;
}
.comment-input-container {
  display: block;
  position: relative;
  justify-content: center;
  margin: 4rem auto;
  height: 4rem;
  width: 60vw;
}
.comment-input {
  display: inline;
  position: relative;
  left: 4rem;
  justify-content: center;
  height: 3rem;
  width: 50vw;
  border-radius: 5px;
}
.comment-send {
  display: inline;
  cursor: pointer;
  position: relative;
  top: 1rem;
  left: 1.3rem;
  margin-top: 1rem;
  height: auto;
  width: 3vw;
  border-radius: 5px;
  background: hsl(210, 36%, 96%);
}

.comment-container {
  margin: 2rem auto;
  height: 10rem;
  width: 60vw;
  background: #fff;
  position: relative;
  /* border: 1px solid rgb(134, 150, 131); */
  border-radius: 20px;
  /* overflow: hidden; */
}
.comment-person {
  font-size: 1rem;
  text-transform: uppercase;
  display: inline;
  position: relative;
  top: 1.5rem;
  right: 0;
  left: 7rem;
  bottom: 0rem;
}
.comment-date {
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  top: 2rem;
  right: 0;
  left: 7rem;
  bottom: 0rem;
}
.comment-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  top: -2.5rem;
}
.comment-text {
  position: relative;
  top: -5rem;
  left: 7rem;
  right: 0;
  bottom: 0;
}
.comment-heart {
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  top: -6rem;
  right: 0rem;
  left: 47rem;
  bottom: 0rem;
}
.comment-heartFill {
  font-size: 1rem;
  cursor: pointer;
  z-index: 2;
  color: crimson;
  position: relative;
  top: -6rem;
  right: 0rem;
  left: 46rem;
  bottom: 0rem;
}
.hide-comment-heartFill {
  z-index: 1;
  /* transition: all 0.3s linear; */
}

/* FOR REPLY  */

.comment-reply {
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  top: -6rem;
  right: 0rem;
  left: 47rem;
  bottom: 0rem;
}
.comment-reply-container {
  display: block;
  visibility: visible;
  z-index: 2;
  position: relative;
  top: -16rem;
  left: 1rem;
  right: 0;
  bottom: 0;
  justify-content: center;
  margin: 3rem auto;
  height: 7rem;
  width: 40vw;
  background: rgba(73, 166, 233, 0.5);
}
.hide-comment-reply-container {
  visibility: hidden;
  z-index: -2;
}
.comment-input-reply {
  display: inline;
  position: relative;
  left: 4rem;
  justify-content: center;
  height: 3rem;
  width: 30vw;
  border-radius: 5px;
}
.comment-send-reply {
  display: inline;
  cursor: pointer;
  position: relative;
  top: 1rem;
  left: 1.3rem;
  margin-top: 1rem;
  height: auto;
  width: 3vw;
  border-radius: 5px;
  background: hsl(210, 36%, 96%);
}

.comment-three-dots {
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  top: -11.8rem;
  right: 0rem;
  left: 46rem;
  bottom: 0rem;
}
.comment-three-dots-container {
  width: 9rem;
  height: 6.5rem;
  background: hsl(210, 36%, 96%);
  z-index: 2;
  position: relative;
  top: -18rem;
  right: 0rem;
  left: 39rem;
  bottom: 0rem;
}
.hide-comment-three-dots-container {
  z-index: -2;
}
.comment-three-dots-container p {
  font-size: 0.8rem;
  line-height: 0.5rem;
  border-radius: 10px;
  /* margin: 1rem; */
}
