/*///////--- global classes---//////*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: auto; */
}
/* font */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* //////---SINGLE BLOGS---/////// */
header {
  position: relative;
}

.banner-img {
  width: 100vw;
  max-height: 23em;
  filter: blur(2px);
  filter: contrast(30%);
  /* filter: grayscale(100%); */
}
.auther {
  text-align: end;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
  color: #222;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(50%, 50%);
}
.banner-heading {
  font-size: 2em;
  color: #222;
  font-weight: 700;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-2%, 10%);
  text-align: center;
}

.body-img {
  width: 78vw;
  max-height: 70vh;
  display: block;
  margin: 1rem auto;
}
.paragraph {
  margin: 1rem 3rem;
  text-align: start;
}
.list-container {
  margin: 1.4rem 6.5rem;
  list-style-type: lower-roman;
  text-align: justify;
}
.list-container li {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}
h2 {
  text-align: start;
}

.blog-icons {
  height: 4rem;
  width: 8rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.blog-icons li {
  color: orange;
  display: block;
}

.sb-container {
  margin: 2rem 2rem;
  display: flex;
  gap: 2rem;
  width: 130rem;
  justify-content: center;
  overflow: hidden;
}
.sb-container-items {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 1rem;

  max-width: 28em;
  margin-right: 0rem;
}
.sb-top-container,
.sb-img {
  max-height: 260px;
  width: 100vh;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.sb-top-container ul {
  width: 28em;
  display: flex;
  justify-content: space-evenly;
}
.sb-top-container ul li {
  height: 24px;
  width: 73px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  z-index: 2;
  margin-bottom: -1.5rem;
}
.sb-card-title {
  font-size: 1.2rem;
  height: 2.7rem;
  width: 20em;
  margin: 1rem auto;
  text-align: center;
  margin-top: 0.5rem;
  overflow: hidden;
}
.sb-card-text {
  font-size: 0.9rem;
  height: 4rem;
  /* text-align: center; */
  width: 28em;
  margin: 0 auto;
  overflow: hidden;
}

/* section */
.section {
  width: 100vw;
  margin: 3rem auto;

  position: relative;
  /* max-width: 1170px; */
}

.section-center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 28.99vw;
  height: 33em;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
  background: #fff;
  border: 1.5px solid green;
  border-radius: 20px;
}
.title {
  text-align: center;
}
.prev,
.next {
  position: absolute;
  top: 300px;
  transform: translateY(-50%);
  background: hsl(210, 22%, 49%);
  color: #fff;
  width: 1.8rem;
  height: 1.8rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1.3rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.prev:hover,
.next:hover {
  background: hsl(210, 22%, 49%);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s linear;
}
main.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
main.lastSlide {
  transform: translateX(-100%);
}
main.nextSlide {
  transform: translateX(100%);
}

/* FOR SLIDER */
@media screen and (min-width: 500px) {
  .section-center {
    width: 77vw;
  }
}
@media screen and (min-width: 700px) {
  .section {
    width: 90vw;
  }
  .section-center {
    width: 58vw;
  }
  .prev,
  .next {
    width: 3rem;
    height: 3rem;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 39vw;
  }
}

/* /// FOR MOBLILE SCREEN */
@media screen and (max-width: 400px) {
  .banner-heading {
    font-size: 1.3rem;
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translate(-6%, 10%);
    text-align: center;
  }
  .auther {
    font-size: 0.6rem;
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(50%, 50%);
  }
  .paragraph {
    margin: 0.5rem 0.5rem;
    font-size: 1rem;
  }
  .list-container {
    margin: 0.5rem 1rem;
  }
  h2 {
    font-size: 0.5rem;
  }
  .section-center {
    width: 100vw;
  }
}

/* /// FOR TABLET SCREEN */
@media screen and (min-width: 700px) {
  .banner-heading {
    font-size: 2.3rem;
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translate(0%, 10%);
    text-align: center;
  }
  .auther {
    font-size: 1.1rem;
    position: absolute;
    top: 79%;
    left: 53%;
    transform: translate(50%, 50%);
  }
}

/* /// FOR DESKTOP SCREEN */
@media screen and (min-width: 1100px) {
  .banner-heading {
    font-size: 2.3rem;
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translate(0%, 10%);
    text-align: center;
  }
  .auther {
    font-size: 1.3rem;
    position: absolute;
    top: 80%;
    left: 65%;
    transform: translate(50%, 50%);
  }
  .paragraph {
    font-size: 1.3rem;
    margin-top: 2rem;
  }
  .blog-heading {
    margin: 2rem auto;
    font-size: 1.8rem;
  }
  .body-img {
    width: 91vw;
  }
  .banner-img {
    width: 100vw;
    margin-right: -2rem;
  }
}
